<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.UserMapper">
<!--    登录-->
    <select id="login" resultType="entity.User">
    select * from `user` where username=#{username} and password=#{password}
  </select>

    <!--    分页查询-->
    <select id="userInfo" resultType="entity.User" parameterType="map">
    select * from `user`,role where user.role_id=role.role_id
    <if test="map.keywords!=null">
    <bind name="keywords" value="'%'+map.keywords+'%'"/>
--         防止sql注入
    AND (username LIKE #{keywords} OR role_name LIKE #{keywords})
    AND user.role_id=role.role_id
    </if>
        <if test="map.showRow!=null">
        limit #{map.showRow},10
        </if>
  </select>

<!--    统计记录数-->
    <select id="sumRow" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(*) from `user`,role where user.role_id=role.role_id
        <if test="keywords!=null">
            <bind name="keyword" value="'%'+keywords+'%'"/>
            --         防止sql注入
            AND (username LIKE #{keyword} OR role_name LIKE #{keyword})
            AND user.role_id=role.role_id
        </if>
    </select>
<!--    注册-->
    <select id="checkUsername" resultType="entity.User" parameterType="java.lang.String">
        select * from user where username=#{username}
    </select>
    <select id="checkEmail" resultType="java.lang.Boolean" parameterType="java.lang.String">
        select * from user where email=#{email}
    </select>

    <insert id="register" parameterType="User">
        insert into user(username,password,email,register_time,role_id)
        values (#{username},#{password},#{email},#{register_time},#{role_id})
    </insert>
<!--    修改密码-->
    <update id="revisePwd" parameterType="User">
        update user set password = #{password} where username =#{username}
    </update>
<!--    找回密码-->
    <select id="retrievePwd" resultType="entity.User" parameterType="User">
        select * from user where email=#{email} and user_id=#{user_id}
    </select>
<!--    禁用/启用用户-->
    <update id="updateUser">
        update user set status=#{status} where user_id=#{user_id}
    </update>
<!--修改用户角色-->
    <update id="updateRole" parameterType="User">
        update user set role_id=#{role_id} where user_id=#{user_id}
    </update>

<!--    <select id="findUserById" resultType="entity.User">-->
<!--        select * from users where id= #{id}-->
<!--    </select>-->
<!--    <insert id="addUser" parameterType="entity.User">-->
<!--        insert into users (name,creatCode,sex,telNum,time,email,address) values-->
<!--        (#{name},#{createCode},#{sex},#{telNum},#{time},#{email},#{address})-->
<!--    </insert>-->

</mapper>
