body{
    background-repeat:no-repeat ;
    background-size:100% 100%;
    background-attachment: fixed;
}
.content {
    padding: 0 auto;
    margin: 0 auto;
    height: 450px;
    width: 100%;
    background-size: 100% 450px;
    margin-top: 25px;
}

.login-wrap {
    position: absolute;
    width: 310px;
    height: 320px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    right: 40%;
    margin-top: 13%;
    background: gold;
    background-size: 100%;
}

.login-wrap h3 {
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.login-wrap-down{
    padding-top: 30px;
    padding-left: 50px;
    width:320px;
    height: 20px;
}

.name, .code {
    border: 1px solid #fff;
    width: 230px;
    height: 40px;
    margin-left: 38px;
    margin-bottom: 20px;
    padding-left: 40px;
}
.name {
    background-position-x: 12px;
}
.code {
    background-position-x: 12px;
}
.btn input {
    height: 40px;
    width: 120px;
    float: left;
    margin-right: 15px;
    border: none;
    color: #fff;
    font-size: 16px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

input:active {
    border-color: #147a62
}

.submit {
    background: #ea8c37;
    margin-left: 25px;
}

.reset {
    background: #bbb;
}

/**错误信息提醒**/
.msg {
    color: #ea8c37;
    font-size: 15px;
    padding-top: 10px;
    clear: both;
    font-weight: bold;
}
